.video-card {
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 260px;
  height: 270px;
  padding: 9px;
  margin: 10px;
}

.video-card .title-box {
  height: 30px;
  color: #666;
}
.video-card .price-box {
  padding: 5px;
  height: 50px;
  line-height: 40px;
}

.video-card .price-box .price {
  color: #666;
}

.video-card .price-box .buy-button {
  float: right;
}

.video-card .video-box {
  width: 240px;
  height: 180px;
  background-color: #DDD;
}
